@font-face {
    font-family: "poetsenone";
    src: url('../css/font-awesome/fonts/PoetsenOne-Regular.ttf') format('truetype');
}
body{
    font-family: "poetsenone";
    background-color: #F0F0F0;
    background: url(../images/gray_sand.png);
    color: #FFFFFF;
}
.container{
    width: 100%;
}

*::-moz-selection {
    background:#308E4B;  /*---Cor de fundo--*/
    color: #FFFFFF;   /*--cor da fonte--*/
}
*::selection {
    background:#308E4B;/*---Cor de fundo--*/
    color: #FFFFFF;  /*--cor da fonte--*/
}
select::selection{
    background:#308E4B;/*---Cor de fundo--*/
    color: #FFFFFF;  /*--cor da fonte--*/
}
option:hover{
    background:#1DC64D;/*---Cor de fundo--*/
    color: #FFFFFF;  /*--cor da fonte--*/
}
option:selected{
    background:#308E4B;/*---Cor de fundo--*/
    color: #FFFFFF;  /*--cor da fonte--*/
}
.form-control{
    /*    width: auto;*/
}
.ui-datepicker-inline{
    width: 100%;
}
legend { 
    margin: 15px 0 0 0;
    /*margin-top: 15px;*/
    width: auto;
    border-bottom: none;
    font-size: 1.8em; 
    text-transform: uppercase; 
    padding: 0 0.5em; 
    color: #FFFFFF; 
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
}
fieldset {
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 1em; 
}
fieldset p{
    margin: 0px;
}
option, select{
    color: #3C3C3C;
    display: block;
}
h1 .h1{
    font-size: 100px;
}
a{
    color: #FFFFFF;
    cursor: pointer;
}
a:hover{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;

}
.text-logo{
    font-size: 100px;

}
.jumbotron{
    color: #FFFFFF;
    text-align: center;
    background-color: #308E4B;
    text-shadow: 2px 2px 0 #1D9D74, 5px 6px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}
.footer{
    /*text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.15), 5px 6px 0 rgba(255, 255, 255, 0.1);*/
    text-shadow: 2px 1px 0 rgba(255, 255, 255, 0.8);
    text-align: center;
    color: #308E4B;
}
.jumbotron .text{
    font-size: 50px;
}
.service{
    margin-bottom: 40px;
}
i.fa-large{
    font-size: 90px;
    margin: 0;
    padding: 0;
}
.menu{
    height: 40px;
    /*display: none;*/
    -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
    background-color: #308E4B;
    color: #FFFFFF;
    border: none;
}
.navbar{
    color: #FFFFFF; 
}
input.active {
    border: 1px inset #308E4B;
}
select.form-control{
    height: 260px;
}
#map_canvas{
    height: 260px;
    display: static;
    background-color: #308E4B;
}
.infoBox { 
    color: #000000;
    background-color: #FFF; 
    width: 300px; 
    font-size: 14px; 
    border: 2px solid #3fa7d8; 
    border-radius: 3px; 
    margin-top: 10px; 
}
.infoBox p { 
    padding: 0 15px 
}
.infoBox:before { 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid #308E4B; 
    top: -10px; 
    content: ""; 
    height: 0; 
    position: absolute; 
    width: 0; 
    left: 138px;
}

